<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>Resume Screening & Job Match AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <script src="{{ url_for('static', filename='js/theme.js') }}" defer></script>


   
</head>
<body>

<div class="card">
<button id="themeToggleBtn" onclick="toggleTheme()">🌙 Dark Mode</button>

    <h2>Resume Screening & Job Match AI</h2>

    <form method="POST" action="/analyze" enctype="multipart/form-data">

        <label>Upload Resume (PDF / DOCX)</label>
        <input type="file" name="resume" accept=".pdf,.docx" required>

        <label>Paste Job Description</label>
        <textarea name="job_description" rows="6" placeholder="Paste job description here..." required></textarea>

        <button type="submit">Analyze Resume</button>
    </form>

    <div class="note">
        AI-powered resume screening using NLP & Machine Learning
    </div>
</div>

</body>
</html>
